.ck-editor__editable_inline {
  min-height: 350px;
}

.brand-logo-bold{
  font-family: BrandFont;
}

.brand-logo-light{
  font-family: BrandFont;
}

.brand-text-header{
  font-family: RVMP;
}

.brand-text-content{
  font-family: RVMP;
}

.brand-text-footer{
  font-family: RVMP;
}

.rvmp-bg-main{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--rvmp-bg-main), var(--tw-bg-opacity));
}

.rvmp-bg-alt{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--rvmp-bg-alt), var(--tw-bg-opacity));
}

.rvmp-default-text{
  --tw-text-opacity: 1;
  color: rgba(var(--rvmp-text-color), var(--tw-text-opacity));
}

.rvmp-text-main{
  --tw-text-opacity: 1;
  color: rgba(var(--rvmp-text-main), var(--tw-text-opacity));
}

.rvmp-text-alt{
  --tw-text-opacity: 1;
  color: rgba(var(--rvmp-text-alt), var(--tw-text-opacity));
}

.rvmp-brand-color-main{
  --tw-text-opacity: 1;
  color: rgba(var(--rvmp-brand-color-one), var(--tw-text-opacity));
}

.rvmp-brand-color-accent{
  --tw-text-opacity: 1;
  color: rgba(var(--rvmp-brand-color-two), var(--tw-text-opacity));
}

.rvmp-brand-color-highlight{
  --tw-text-opacity: 1;
  color: rgba(var(--rvmp-brand-color-three), var(--tw-text-opacity));
}

.rvmp-brand-color-darker{
  --tw-text-opacity: 1;
  color: rgba(var(--rvmp-brand-color-four), var(--tw-text-opacity));
}

.rvmp-brand-border-1{
  --tw-border-opacity: 1;
  border-color: rgba(var(--rvmp-brand-color-one), var(--tw-text-opacity));
}

.rvmp-brand-border-2{
  --tw-border-opacity: 1;
  border-color: rgba(var(--rvmp-brand-color-two), var(--tw-text-opacity));
}

.rvmp-brand-border-3{
  --tw-border-opacity: 1;
  border-color: rgba(var(--rvmp-brand-color-three), var(--tw-text-opacity));
}

.rvmp-brand-border-4{
  --tw-border-opacity: 1;
  border-color: rgba(var(--rvmp-brand-color-four), var(--tw-text-opacity));
}

.rvmp-brand-bg-main{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--rvmp-brand-color-one), var(--tw-bg-opacity));
}

.rvmp-brand-bg-2{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--rvmp-brand-color-two), var(--tw-bg-opacity));
}

.rvmp-brand-bg-3{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--rvmp-brand-color-three), var(--tw-bg-opacity));
}

.rvmp-brand-bg-darker{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--rvmp-brand-color-four), var(--tw-bg-opacity));
}

@media (min-width: 640px) {
  .sm\:ck-editor__editable_inline {
    min-height: 350px;
  }

  .sm\:brand-logo-bold{
    font-family: BrandFont;
  }

  .sm\:brand-logo-light{
    font-family: BrandFont;
  }

  .sm\:brand-text-header{
    font-family: RVMP;
  }

  .sm\:brand-text-content{
    font-family: RVMP;
  }

  .sm\:brand-text-footer{
    font-family: RVMP;
  }

  .sm\:rvmp-bg-main{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-bg-main), var(--tw-bg-opacity));
  }

  .sm\:rvmp-bg-alt{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-bg-alt), var(--tw-bg-opacity));
  }

  .sm\:rvmp-default-text{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-text-color), var(--tw-text-opacity));
  }

  .sm\:rvmp-text-main{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-text-main), var(--tw-text-opacity));
  }

  .sm\:rvmp-text-alt{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-text-alt), var(--tw-text-opacity));
  }

  .sm\:rvmp-brand-color-main{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-brand-color-one), var(--tw-text-opacity));
  }

  .sm\:rvmp-brand-color-accent{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-brand-color-two), var(--tw-text-opacity));
  }

  .sm\:rvmp-brand-color-highlight{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-brand-color-three), var(--tw-text-opacity));
  }

  .sm\:rvmp-brand-color-darker{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-brand-color-four), var(--tw-text-opacity));
  }

  .sm\:rvmp-brand-border-1{
    --tw-border-opacity: 1;
    border-color: rgba(var(--rvmp-brand-color-one), var(--tw-text-opacity));
  }

  .sm\:rvmp-brand-border-2{
    --tw-border-opacity: 1;
    border-color: rgba(var(--rvmp-brand-color-two), var(--tw-text-opacity));
  }

  .sm\:rvmp-brand-border-3{
    --tw-border-opacity: 1;
    border-color: rgba(var(--rvmp-brand-color-three), var(--tw-text-opacity));
  }

  .sm\:rvmp-brand-border-4{
    --tw-border-opacity: 1;
    border-color: rgba(var(--rvmp-brand-color-four), var(--tw-text-opacity));
  }

  .sm\:rvmp-brand-bg-main{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-brand-color-one), var(--tw-bg-opacity));
  }

  .sm\:rvmp-brand-bg-2{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-brand-color-two), var(--tw-bg-opacity));
  }

  .sm\:rvmp-brand-bg-3{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-brand-color-three), var(--tw-bg-opacity));
  }

  .sm\:rvmp-brand-bg-darker{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-brand-color-four), var(--tw-bg-opacity));
  }
}

@media (min-width: 768px) {
  .md\:ck-editor__editable_inline {
    min-height: 350px;
  }

  .md\:brand-logo-bold{
    font-family: BrandFont;
  }

  .md\:brand-logo-light{
    font-family: BrandFont;
  }

  .md\:brand-text-header{
    font-family: RVMP;
  }

  .md\:brand-text-content{
    font-family: RVMP;
  }

  .md\:brand-text-footer{
    font-family: RVMP;
  }

  .md\:rvmp-bg-main{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-bg-main), var(--tw-bg-opacity));
  }

  .md\:rvmp-bg-alt{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-bg-alt), var(--tw-bg-opacity));
  }

  .md\:rvmp-default-text{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-text-color), var(--tw-text-opacity));
  }

  .md\:rvmp-text-main{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-text-main), var(--tw-text-opacity));
  }

  .md\:rvmp-text-alt{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-text-alt), var(--tw-text-opacity));
  }

  .md\:rvmp-brand-color-main{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-brand-color-one), var(--tw-text-opacity));
  }

  .md\:rvmp-brand-color-accent{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-brand-color-two), var(--tw-text-opacity));
  }

  .md\:rvmp-brand-color-highlight{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-brand-color-three), var(--tw-text-opacity));
  }

  .md\:rvmp-brand-color-darker{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-brand-color-four), var(--tw-text-opacity));
  }

  .md\:rvmp-brand-border-1{
    --tw-border-opacity: 1;
    border-color: rgba(var(--rvmp-brand-color-one), var(--tw-text-opacity));
  }

  .md\:rvmp-brand-border-2{
    --tw-border-opacity: 1;
    border-color: rgba(var(--rvmp-brand-color-two), var(--tw-text-opacity));
  }

  .md\:rvmp-brand-border-3{
    --tw-border-opacity: 1;
    border-color: rgba(var(--rvmp-brand-color-three), var(--tw-text-opacity));
  }

  .md\:rvmp-brand-border-4{
    --tw-border-opacity: 1;
    border-color: rgba(var(--rvmp-brand-color-four), var(--tw-text-opacity));
  }

  .md\:rvmp-brand-bg-main{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-brand-color-one), var(--tw-bg-opacity));
  }

  .md\:rvmp-brand-bg-2{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-brand-color-two), var(--tw-bg-opacity));
  }

  .md\:rvmp-brand-bg-3{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-brand-color-three), var(--tw-bg-opacity));
  }

  .md\:rvmp-brand-bg-darker{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-brand-color-four), var(--tw-bg-opacity));
  }
}

@media (min-width: 1024px) {
  .lg\:ck-editor__editable_inline {
    min-height: 350px;
  }

  .lg\:brand-logo-bold{
    font-family: BrandFont;
  }

  .lg\:brand-logo-light{
    font-family: BrandFont;
  }

  .lg\:brand-text-header{
    font-family: RVMP;
  }

  .lg\:brand-text-content{
    font-family: RVMP;
  }

  .lg\:brand-text-footer{
    font-family: RVMP;
  }

  .lg\:rvmp-bg-main{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-bg-main), var(--tw-bg-opacity));
  }

  .lg\:rvmp-bg-alt{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-bg-alt), var(--tw-bg-opacity));
  }

  .lg\:rvmp-default-text{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-text-color), var(--tw-text-opacity));
  }

  .lg\:rvmp-text-main{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-text-main), var(--tw-text-opacity));
  }

  .lg\:rvmp-text-alt{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-text-alt), var(--tw-text-opacity));
  }

  .lg\:rvmp-brand-color-main{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-brand-color-one), var(--tw-text-opacity));
  }

  .lg\:rvmp-brand-color-accent{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-brand-color-two), var(--tw-text-opacity));
  }

  .lg\:rvmp-brand-color-highlight{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-brand-color-three), var(--tw-text-opacity));
  }

  .lg\:rvmp-brand-color-darker{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-brand-color-four), var(--tw-text-opacity));
  }

  .lg\:rvmp-brand-border-1{
    --tw-border-opacity: 1;
    border-color: rgba(var(--rvmp-brand-color-one), var(--tw-text-opacity));
  }

  .lg\:rvmp-brand-border-2{
    --tw-border-opacity: 1;
    border-color: rgba(var(--rvmp-brand-color-two), var(--tw-text-opacity));
  }

  .lg\:rvmp-brand-border-3{
    --tw-border-opacity: 1;
    border-color: rgba(var(--rvmp-brand-color-three), var(--tw-text-opacity));
  }

  .lg\:rvmp-brand-border-4{
    --tw-border-opacity: 1;
    border-color: rgba(var(--rvmp-brand-color-four), var(--tw-text-opacity));
  }

  .lg\:rvmp-brand-bg-main{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-brand-color-one), var(--tw-bg-opacity));
  }

  .lg\:rvmp-brand-bg-2{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-brand-color-two), var(--tw-bg-opacity));
  }

  .lg\:rvmp-brand-bg-3{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-brand-color-three), var(--tw-bg-opacity));
  }

  .lg\:rvmp-brand-bg-darker{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-brand-color-four), var(--tw-bg-opacity));
  }
}

@media (min-width: 1280px) {
  .xl\:ck-editor__editable_inline {
    min-height: 350px;
  }

  .xl\:brand-logo-bold{
    font-family: BrandFont;
  }

  .xl\:brand-logo-light{
    font-family: BrandFont;
  }

  .xl\:brand-text-header{
    font-family: RVMP;
  }

  .xl\:brand-text-content{
    font-family: RVMP;
  }

  .xl\:brand-text-footer{
    font-family: RVMP;
  }

  .xl\:rvmp-bg-main{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-bg-main), var(--tw-bg-opacity));
  }

  .xl\:rvmp-bg-alt{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-bg-alt), var(--tw-bg-opacity));
  }

  .xl\:rvmp-default-text{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-text-color), var(--tw-text-opacity));
  }

  .xl\:rvmp-text-main{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-text-main), var(--tw-text-opacity));
  }

  .xl\:rvmp-text-alt{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-text-alt), var(--tw-text-opacity));
  }

  .xl\:rvmp-brand-color-main{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-brand-color-one), var(--tw-text-opacity));
  }

  .xl\:rvmp-brand-color-accent{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-brand-color-two), var(--tw-text-opacity));
  }

  .xl\:rvmp-brand-color-highlight{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-brand-color-three), var(--tw-text-opacity));
  }

  .xl\:rvmp-brand-color-darker{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-brand-color-four), var(--tw-text-opacity));
  }

  .xl\:rvmp-brand-border-1{
    --tw-border-opacity: 1;
    border-color: rgba(var(--rvmp-brand-color-one), var(--tw-text-opacity));
  }

  .xl\:rvmp-brand-border-2{
    --tw-border-opacity: 1;
    border-color: rgba(var(--rvmp-brand-color-two), var(--tw-text-opacity));
  }

  .xl\:rvmp-brand-border-3{
    --tw-border-opacity: 1;
    border-color: rgba(var(--rvmp-brand-color-three), var(--tw-text-opacity));
  }

  .xl\:rvmp-brand-border-4{
    --tw-border-opacity: 1;
    border-color: rgba(var(--rvmp-brand-color-four), var(--tw-text-opacity));
  }

  .xl\:rvmp-brand-bg-main{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-brand-color-one), var(--tw-bg-opacity));
  }

  .xl\:rvmp-brand-bg-2{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-brand-color-two), var(--tw-bg-opacity));
  }

  .xl\:rvmp-brand-bg-3{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-brand-color-three), var(--tw-bg-opacity));
  }

  .xl\:rvmp-brand-bg-darker{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-brand-color-four), var(--tw-bg-opacity));
  }
}

@media (min-width: 1536px) {
  .\32xl\:ck-editor__editable_inline {
    min-height: 350px;
  }

  .\32xl\:brand-logo-bold{
    font-family: BrandFont;
  }

  .\32xl\:brand-logo-light{
    font-family: BrandFont;
  }

  .\32xl\:brand-text-header{
    font-family: RVMP;
  }

  .\32xl\:brand-text-content{
    font-family: RVMP;
  }

  .\32xl\:brand-text-footer{
    font-family: RVMP;
  }

  .\32xl\:rvmp-bg-main{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-bg-main), var(--tw-bg-opacity));
  }

  .\32xl\:rvmp-bg-alt{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-bg-alt), var(--tw-bg-opacity));
  }

  .\32xl\:rvmp-default-text{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-text-color), var(--tw-text-opacity));
  }

  .\32xl\:rvmp-text-main{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-text-main), var(--tw-text-opacity));
  }

  .\32xl\:rvmp-text-alt{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-text-alt), var(--tw-text-opacity));
  }

  .\32xl\:rvmp-brand-color-main{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-brand-color-one), var(--tw-text-opacity));
  }

  .\32xl\:rvmp-brand-color-accent{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-brand-color-two), var(--tw-text-opacity));
  }

  .\32xl\:rvmp-brand-color-highlight{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-brand-color-three), var(--tw-text-opacity));
  }

  .\32xl\:rvmp-brand-color-darker{
    --tw-text-opacity: 1;
    color: rgba(var(--rvmp-brand-color-four), var(--tw-text-opacity));
  }

  .\32xl\:rvmp-brand-border-1{
    --tw-border-opacity: 1;
    border-color: rgba(var(--rvmp-brand-color-one), var(--tw-text-opacity));
  }

  .\32xl\:rvmp-brand-border-2{
    --tw-border-opacity: 1;
    border-color: rgba(var(--rvmp-brand-color-two), var(--tw-text-opacity));
  }

  .\32xl\:rvmp-brand-border-3{
    --tw-border-opacity: 1;
    border-color: rgba(var(--rvmp-brand-color-three), var(--tw-text-opacity));
  }

  .\32xl\:rvmp-brand-border-4{
    --tw-border-opacity: 1;
    border-color: rgba(var(--rvmp-brand-color-four), var(--tw-text-opacity));
  }

  .\32xl\:rvmp-brand-bg-main{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-brand-color-one), var(--tw-bg-opacity));
  }

  .\32xl\:rvmp-brand-bg-2{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-brand-color-two), var(--tw-bg-opacity));
  }

  .\32xl\:rvmp-brand-bg-3{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-brand-color-three), var(--tw-bg-opacity));
  }

  .\32xl\:rvmp-brand-bg-darker{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--rvmp-brand-color-four), var(--tw-bg-opacity));
  }
}

