@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '/css/font-family.css';
@import '/css/rvmp.css';
@import '/css/vue-color-kit.css';
@import '/css/carousel.css';
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(var(--rvmp-bg-main)); 
}

::-webkit-scrollbar-thumb {
    background: rgb(var(--rvmp-brand-color-one)); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--rvmp-brand-color-three)); 
}
#nprogress .bar {
    background: rgb(var(--rvmp-brand-color-one)) !important;
    top: unset !important;
    bottom: 0 !important;
}
.carousel__slide > .carousel__item {
  transform: scale(1);
  opacity: 0.5;
  transition: 0.5s;
}
.carousel__slide--visible > .carousel__item {
  opacity: 1;
  transform: rotateY(0);
}
.carousel__slide--next > .carousel__item {
  transform: scale(0.9) translate(-10px);
}
.carousel__slide--prev > .carousel__item {
  transform: scale(0.9) translate(10px);
}
.carousel__slide--active > .carousel__item {
  transform: scale(1.1);
}