@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: CenturyGothic;
    src: url('/fonts/CenturyGothicRegular.ttf');

}

@font-face {
    font-family: CenturyGothic;
    src: url('/fonts/CenturyGothicBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: FranklinGothic;
    src: url('/fonts/FranklinGothicBookRegular.otf');
}

@font-face {
    font-family: FranklinGothic;
    src: url('/fonts/FranklinGothic.ttf');
    font-weight: bold;
}

.brand-logo-bold,.brand-logo-light{
    font-family: CenturyGothic !important;
}

.brand-text-header,.brand-text-footer, .brand-text-content{
    font-family: FranklinGothic;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #229C23; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1cbf1c; 
  }

.text-green-600{
	color: #229C23 !important
}
.alert li {
    font-size: 14px;
}
.container{
    margin-right: auto !important;
    margin-left: auto !important;
}
body{
    background: #FFFFFF ;   
}
.bg-white-o-70 {
    background-color: rgb(255 255 255 / 70%);
}