@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '/css/font-family.css';
@import '/css/rvmp.css';
@import '/css/vue-color-kit.css';
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(var(--rvmp-bg-main)); 
}

::-webkit-scrollbar-thumb {
    background: rgb(var(--rvmp-brand-color-one)); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--rvmp-brand-color-three)); 
}
