/**
* @package under-construction-lite
*/
@media (max-width: 1100px) {
    .mainwidth {  margin: 0 auto;  width: 100%;}
    .banner img{width: 100%;}
    .container{ width: 99%; padding: 0 0px; }
    .bannerlogo {    top: 32%;    left: 30%;    right: 30%;	}
}
@media (max-width: 1017px) {
    .header_left.headercommon {width: 36%;}
    .header_right {	padding: 5px 0;}
    .header_middle.headercommon{ text-align: right; }
    .footcommon{ margin:0 2px; }
}	
@media (max-width: 992px) {
    .header_left.headercommon{ width: 100%; }
    .header_middle.headercommon {    text-align: center;    width: 100%;}
    .header_right.headercommon {    float: none;    width: 100%;    text-align: center;}
    .header_bottom_left {    float: none;    width: 100%;    display: block;    text-align: center;}
    .header_bottom_right {    float: none;    width: 100%; margin:11px 0 0 0;}
    #header_bottom .logo p{ text-align: center;  }
    .creditlink {    float: none;    width: 100%;    text-align: center;}
    .creditcopy {    float: none;    width: 100%;    text-align: center;}
    .site-main {       float: none;    width: 100%;}
    #sidebar {   float: none;width: 99%;margin: 2% auto;clear: both;}
    .toggle a{ width: auto; }
    section#header{padding:0 0 11px;}
    section#header header { text-align: center;}
    .header_middle.headercommon{ margin:20px 0 20px 0; }
    .fourbox{margin:0 .4% 2.4%; width: 45%;}
    .header_top .logo p {  text-align: center;}
    .col-md-4.header_right {  width: 255px;  margin: 0 auto;}
    .footerinner-top {   padding: 5px 0 15px;}
}
@media (max-width: 900px) {
    .bannerlogo{top: 30%;left: 20%;right: 20%;}
}
@media (max-width: 800px) {
    .bannerlogo{top: 30%;left: 20%;right: 20%;}
    .bannerlogo h1{ font-size: 30px; }
    .bannercontent {top: 30%;	left: 20%;	right: 20%;	}
}
@media (max-width: 766px) {
    .footcommon {    width: 99%;    float: none;    text-align: center;    margin: 0 0 16px;    border: 1px solid #fff;    padding: 0 0 11px;}
    footer h3 {    border-bottom: none;    padding: 0 0 16px 0;    margin: 11px 0;    color: #ffffff;    text-transform: uppercase;    font-size: 20px;}
    footer li{ list-style: none; }
    .fourbox{ width: 80%;}
}
@media (max-width: 500px) {
    .bannerlogo h1{ font-size: 25px; }
    .bannerlogo p{ font-size: 15px; }
    .bannercontent {top: 15%;	left: 10%;	right: 10%;	 display: none}
    .banner_sub_heading{ display: none; }
    .fourbox{ width: 90%;}
}
@media (max-width: 410px) {
    .bannerlogo {	top: 22%;	left: 10%;	right: 10%;}
    .bannercontent {top: 10%;	left: 10%;	right: 10%;	}
}